# ignore all files and directories
/*

# allow list
!.gitignore
!README.md
!LICENSE


!/background_music
!/blink_without_delay
!/breakout
!/capacitive_touch
!/capacitive_touch_love_pin
!/capacitive_touch_servo
!/graphicstest_ILI9341
!/graphicstest_ST7789
!/line_trace_lap_timer
!/non_preemptive_multitasking
!/serial_input_test
!/serial_speed_test
!/ST7789_Flash_Jpg
!/TouchTest
!/MLX90640

# VSCODE
*/.theia
*/.vscode

# Mac special files
*/.DS_store
*/._*

