# ignore all files and directories
/*

# allow list
!.gitignore
!README.md
!LICENSE

!/line_trace_lap_timer
!/blink_without_delay
!/background_music
!/serial_speed_test
!/serial_input_test
!/capacitive_touch
!/capacitive_touch_love_pin
!/capacitive_touch_servo

# VSCODE
*/.theia
*/.vscode

# Mac special files
*/.DS_store
*/._*

